<!DOCTYPE html>
<html>
    <%- include("partials/head") %>
    <body>
        <a href="/"><h1>Ethical<br>Food Checker</h1></a>
        <%- include("partials/explanation") %>
        <%- include("partials/form") %>
        <p class="instructions">Search for a product using the search bar above.</p>
        <script src="scripts/script.js"></script>
    </body>
</html>